# DEPRECATED
LOGO_PATH=path/to/your/logo.png

# DEPRECATED
MULTIPAGE_TIFF=path/to/your/form.tif

# DEPRECATED
JSON_FOLDER = directory/for/json/page/descriptors




# Default folder for importing file list
IMPORT_FOLDER = default/folder/for/importing/filelist

# Base folder for Designer Folders. 
# The folder picker defaults to here, 
# and the user chooses one of its subfolders as the project folder
DESIGNER_CONFIG_FOLDER=/base/path/for/design/files
