# Path to the logo image file used for template matching
LOGO_PATH=path/to/your/logo.png

# Path to the multipage TIFF file containing the scanned form
MULTIPAGE_TIFF=path/to/your/form.tif

# Folder containing json page descriptors
JSON_FOLDER = directory/for/json/page/descriptors

# Default folder for importing file list
IMPORT_FOLDER = default/folder/for/importing/filelist

# Default folder for
DESIGNER_FOLDER_BASE=/base/path/for/design/files